<script>
  $(document).ready(function() {
    main.initModule(); 
  });
</script>
<div class="row main_bg">
	<div class="col-sm-12 main_bg_shadow">
		<div class="row">
			<div class="col-sm-12 main_bg_content">
        <div class="row"><div class="col-sm-12">
            <h1> 사이버 폭력 </h1>
        </div></div>
        <div class="row"><div class="col-sm-8 col-sm-offset-2">
          <p>2010년 한국정보화진흥원이 초·중등학교에 재학 중인 1,260명의 학생들을 대상으로 실시한 연구결과에 따르면, 응답학생 5명 중 1명이 인터넷이나 휴대전화를 통한 놀림·욕설·따돌림을 당한 경험이 있는 것으로 나타났다. 심지어 따돌림을 당하고 있는 여학생의 휴대전화번호를 인터넷 성매매 사이트에 올리는 사례도 있었다.<br> 특히 가장 큰 문제는 누구나가 가해자가 될 수 있다는 것이다. 그에 따라 해당 웹 사이트에서는 혹시라도 자기가 그동안 타인에게 사이버 폭력을 한 적이 있는지 스스로 진단하도록 문항들을 제공하고, 그 진단 결과에 따라 맞춤화된 각종 수행 활동들을 제공한다.</p>
        </div></div>
        <div class="row"><div class="col-sm-12">
          <%= link_to "진단 시작하기", tests_path, {class:"main_bg_content_button"} %>
        </div></div>
			</div>
		</div>
	</div>
	
</div>
<div class="row main_caption">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
    	<h3><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;자가 진단</h3>
      <p>본 사이트에서 제공하는 48개의 진단 문항을 체크해나간다. 그것을 통해 자신이 어떠한 항목에서 사이버 폭력의 징후를 나타내는지 확인한다. </p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
      <h3><i class="fa fa-database"></i>&nbsp;&nbsp;데이터 분석</h3>
      <p>답변한 결과를 바탕으로 점수를 매기고, 매겨진 점수를 바탕으로 정상을 초과한 항목에 대해서 미리 만들어놓은 수행활동을 배정한다.</p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
      <h3><i class="fa fa-list"></i>&nbsp;&nbsp;수행 활동</h3>
      <p>2회기부터 5회기까지 자신에게 주어진 수행활동을 성실히 수행한다.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
      <h3><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;재 자가 진단</h3>
      <p>모든 수행활동이 끝난 시점에서 다시 한번 자가진단 문항을 체크한다.</p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
      <h3><i class="fa fa-repeat"></i>&nbsp;&nbsp;반복 학습</h3>
      <p>만약에 여전히 점수가 초과하는 항목이 있다면 다시 한번 수행 활동을 실시한다.</p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
      <h3><i class="fa fa-flag"></i>&nbsp;&nbsp;기대 효과</h3>
      <p>자기 주도 학습 및 뛰어난 접근성, 그리고 반복 학습을 통해 높은 효과를 거둘 수 있다.</p>
    </div>
  </div>
</div>
