<script>
  $(document).ready(function() {
    main.initModule(); 
  });
</script>
<div class="row main_bg">
	<div class="col-sm-12 main_bg_shadow">
		<div class="row">
			<div class="col-sm-12 main_bg_content">
        <div class="row"><div class="col-sm-12">
            <h1> 사이버 폭력 </h1>
        </div></div>
        <div class="row"><div class="col-sm-8 col-sm-offset-2">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div></div>
        <div class="row"><div class="col-sm-12">
          <%= link_to "진단 시작하기", tests_path, {class:"main_bg_content_button"} %>
        </div></div>
			</div>
		</div>
	</div>
	
</div>
<div class="row main_caption">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
    	<h3><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;자가 진단</h3>
      <p>여기엔 간단한 내용이 들어간다.<br>Value can be added to this card at any time. If the card is no longer required, return the card for a refund of disposable amount(including deposit).</p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
      <h3><i class="fa fa-database"></i>&nbsp;&nbsp;데이터 분석</h3>
      <p>여기엔 간단한 내용이 들어간다.<br>Value can be added to this card at any time. If the card is no longer required, return the card for a refund of disposable amount(including deposit).</p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
      <h3><i class="fa fa-list"></i>&nbsp;&nbsp;치료 활동</h3>
      <p>여기엔 간단한 내용이 들어간다.<br>Value can be added to this card at any time. If the card is no longer required, return the card for a refund of disposable amount(including deposit).</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
      <h3><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;자가 진단</h3>
      <p>여기엔 간단한 내용이 들어간다.<br>Value can be added to this card at any time. If the card is no longer required, return the card for a refund of disposable amount(including deposit).</p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
      <h3><i class="fa fa-repeat"></i>&nbsp;&nbsp;반복 학습</h3>
      <p>여기엔 간단한 내용이 들어간다.<br>Value can be added to this card at any time. If the card is no longer required, return the card for a refund of disposable amount(including deposit).</p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
      <h3><i class="fa fa-flag"></i>&nbsp;&nbsp;기대 효과</h3>
      <p>여기엔 간단한 내용이 들어간다.<br>Value can be added to this card at any time. If the card is no longer required, return the card for a refund of disposable amount(including deposit).</p>
    </div>
  </div>
</div>
