<div class="row main_bg">
	<div class="col-md-12 main_bg_shadow">
		<div class="row">
			<div class="col-md-12 main_bg_content">
        <div class="row"><div class="col-md-12">
            <h1> 5조 프로젝트 </h1>
        </div></div>
        <div class="row"><div class="col-md-8 col-md-offset-2">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div></div>
        <div class="row"><div class="col-md-12">
          <%= link_to "진단 시작하기", "#", {class:"main_bg_content_button"} %>
        </div></div>
			</div>
		</div>
	</div>
	
</div>
<div class="row main_caption">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <i class="fa fa-pencil-square-o"></i>
    </div>
    <div class="col-md-5">
      <i class="fa fa-bar-chart"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <i class="fa fa-list"></i>
    </div>
    <div class="col-md-5">
      <i class="fa fa-check-square-o"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <i class="fa fa-repeat"></i>
    </div>
    <div class="col-md-5">
      <i class="fa fa-flag"></i>
    </div>
  </div>
</div>
<div class="row main_show">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
</div>
