// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
	background-color: inherit;
	border: none;
  a {
	  color: #fff !important;
  }
  .nav {
    a {
      transition: 0.25s color;
	  }
	  a:hover {
		  color: rgb(94, 219, 91) !important;
	  }
  }
}

.main_bg {
	background-image: url('main/top.jpg');
	background-size: cover;
	.main_bg_shadow {
		padding-top: 8.5em;
		background-color: rgba(0, 0, 0, 0.5);
		.row {
			.main_bg_content {
				* {
					color: #fff;
				}
        .row {
          margin-bottom: 3em;
          h1 {
            text-align: center;
          }
          p {
            padding: 0 1em 0 1em;
          }
				  .main_bg_content_button {
				  	display: block;
            width: 10em;
            margin: 0 auto;
            border: 1px solid #fff;
            border-radius: 0.8em;
            text-align: center;
            line-height: 2.8em;
            transition: 0.25s background;
				  }
          .main_bg_content_button:hover {
            text-decoration: none;
            background-color: rgba(255, 255, 255, 0.25);
          }
        }
			}
		}
	}

}

.main_caption {
  background-color: #EFF9F6;
  padding: 1em 0 1em 0;
  .row {
    .col-md-5 {
      height: 10em; 
      padding: 1em;
    }
  }
}

.main_show {
  background-color: #003657;
  .col-md-4 {
    height: 10em;
  }
}
