.tests {
  .tests_title {
    padding: 5em 0 1em 0; 
  }
  .tests_items {
    padding: 0 0 2em 0;
    .tests_items_wrap {
      background-color: #EFF9F6;
      border-radius: 1em;
      padding: 2em 0 2em 0;
      .tests_item {
        padding: 3em 0 3em 0;
        .tests_item_order {
          font-size: 2.0em;
          font-weight: bolder;
        }
        .tests_item_question {
          word-wrap: break-word;
        }
        .tests_item_inputs {
          text-align: center;
          padding: 2.5em 0 1em 0;
          border-bottom: 2px solid #fff;
          .tests_item_inputs_radio {
            margin-right: 1em;
          }
          .radio_last {
            margin:0;
          }
        }
      }
    }
  }

}

/* .col-xs <768px */
@media (max-width: 768px) {
  .tests {
    .tests_items {
      padding: 0 1em 2em 1em;
    }
  }
}
